n8n-workflows/team-worker-intake.json
{
  "name": "SIN-Team-Worker - Intake & Dispatch",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "team-worker-intake"
      }
    },
    {
      "name": "Normalize Work Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ],
      "parameters": {
        "jsCode": "return $input.all().map(item => ({json: {work_item: {id: 'wi-' + Date.now(), team: 'Team Worker', source: item.json.source || 'webhook', priority: item.json.priority || 'medium', type: item.json.type || 'task', description: item.json.description || '', created_at: new Date().toISOString(), status: 'queued'}}});"
      }
    },
    {
      "name": "Log to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        690,
        300
      ],
      "parameters": {
        "operation": "create",
        "tableId": "work_items"
      }
    },
    {
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        910,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/OpenSIN-AI/OpenSIN-backend/issues"
      }
    },
    {
      "name": "Dispatch to Hermes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1130,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://92.5.60.87:8014/api/v1/tasks/claim"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Work Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Work Item": {
      "main": [
        [
          {
            "node": "Log to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Supabase": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        [
          {
            "node": "Dispatch to Hermes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
